@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: l1 1s linear infinite alternate;
}

.loader:before {
  content: "Loading..."
}

@keyframes l1 {
  to {
    opacity: 0
  }
}